.n{
    margin-left: 50px;
  }
.s{
    margin-left: 50px;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    margin-top: 45px;
}
td,th,tr
{
    border: 1px solid yellowgreen;
    width: 80px;
}